<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaltoSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CF9A4CD1E076C2D00617445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CF9A4E11E076C2D00617445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CF9A4EC1E076C2D00617445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
